footer > section {
background-color: rgb(247, 249, 244);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding:40px;
}

.footerLogo{
    width: 200px;
    height: auto;
  
}

.socialWrapper{
    display: flex;
    justify-content: flex-end;
    color: #495E57;
    list-style-type: none;
}

.socialIcon{
    margin: 0;
    padding-left:0;
    padding-right: 1rem;
}


@media (max-width: 990px){
    footer > section{
       display: flex;
       flex-direction: column;
    }}