
   .button-primary {
    background-color: #F4CE14;
    border: none;
    color: #495E57;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    font-weight: bold;
   }

   .button-secondary{
      background-color: #495E57;
      border: none;
      color: #F4CE14;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 16px;
      font-weight: bold;
   }

   h1{
      color:#495E57
   }

   .socialFooter > {
      ;
   }